.container-fluid.w
  .row
    = render 'category-sidebar'
    .col-lg-8.main-box
      新着スレッド
      .list-group
        - Forum.all.order(id: "DESC").each do|forum|
          %a.list-group-item.list-group-item-action{:href => "forums/#{forum.id}"}
            .d-flex.w-100.justify-content-between
              %h5.mb-1
                = forum.title
              %small
                = forum.created_at
            %small
              - forum.categories.each do |c|
                = "##{c.category}"

    = render 'my-forum-sidebar'