#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    
    - new_forum = Forum.new
    - new_forum.responses.build
    = form_with model:new_forum, local: true, class: "modal-content", id: "create-forum-form" do |f|
      .modal-header
        %h5#exampleModalLabel.modal-title スレッドの作成
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group
          %label.col-form-label{:for => "recipient-name"} スレッドタイトル:
          %span.validate-message#create-forum-form--title 入力してください
          = f.text_field :title, {class: "form-control create-forum-form__input-title"}
        .form-group
          %label.col-form-label{:for => "recipient-name"} 投稿文:
          %span.validate-message#create-forum-form--response 入力してください
          = f.fields_for :responses do |res|
            = res.text_field :text, {class: "form-control create-forum-form__input-first-response"}

        .form-group
          %label.col-form-label{:for => "message-text"} カテゴリ:
          .input-group-prepend
          %span.validate-message#create-forum-form--category １つ以上選択してください
          .input-group-prepend.create-forum-form__input-category.flex-wrap
            - Category.all.each do |category|
              .custom-control.custom-checkbox.create-forum-form__input-category--box
                %input.custom-control-input{:type => "checkbox",:id => category.id,:name => "forum[category_ids][]",:value => category.id }/
                %label.custom-control-label{:for => category.id} 
                  = category.category
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        = f.button "Create", {type: "button", class: "btn btn-primary",onclick:"checkValidateCreateForum()"}